<app-private-header></app-private-header>

<div class="dark-background distribution__user__products">
    <div *ngFor="let product of groupSale">
        <app-card-slider [product]="product"></app-card-slider>
    </div>

    <!-- <div *ngFor="let product of groupSold">
        <app-card-slider [product]="product"></app-card-slider>
    </div>

    <div *ngFor="let product of groupBought">
        <app-card-slider [product]="product"></app-card-slider>
    </div> -->
</div>

<div class="distribution__user_product__footer">
    <app-footer></app-footer>
</div>