body {
	background-color: black;
	color: white;
}
.container {
	height: 100vh;
	width: 40%;
	float: right;
	display: flex;
	justify-content: center;
	background-color: black;
}

@media only screen and (max-width:600px) {
	.container {
		width: 100%;
	}

	.logo-l {
		font-size: 31px;
	}
}

.card-body--fullheight {
	height: 100%;
}

.form-input {
	width: 80%;
	height: 27px;
	display: flex;
	padding-top: 7px;
}

.form-container {
	display: flex;
	justify-content: center;
	width: 50%;
}
/* .btn-success {
	border:  4px dashed;
	border-color: green;
	background-color: transparent;
	padding-top: 8px;
	display: flex;
	text-align: center;
	align-items: start;
	&:hover,
	&:focus,
	&:active {
		box-shadow: 0 0 5px #57E309;
	}
	width: 100%;
}
 */.form-foto {
	position: absolute;
	width: 100%;
	height: 100%;
}
.card--black {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
  
  }
.card {
	border: none;
	display: flex;
	justify-content: center;
}
.contras-subray {
	display: flex;
	justify-content: center;

}
.align-login {
	margin-bottom: 10px;
	&2 {
		display: flex;
		justify-content: center;
	}
}
.box-title {
	display: flex;
	justify-content: center;
}

.text-muted {
	display: flex;
	justify-content: center;
	color: white;
}

.btn1 {
	display: flex;
	text-align: center;
	width: 60%;
	color: white;
	text-align: center;
	justify-content: center;
}

.btn-login {
	display: flex;
	justify-content: center;

}

.form-horizontal {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.register-padding {
	padding-left: 7px;
	text-decoration: none;
}
