.container {
  display: flex;
  flex-flow: column;
  /* height: 100vh; */
}

.wellcome_message {
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
  /* border: 1px solid red; */
}

.cards_desk {
  display: none;
  margin-bottom: 5%;
}

.cards_movil {
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 5%;
}

img.img_user {
  margin: auto;
  margin-bottom: 3rem;
  /* border: 1px solid red; */
}

.card_picture,
.card_info_usuer {
  border-radius: 10px;
  padding: 3%;
  margin: 3%;
}

.change_config_dates,
.change_config_dates {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 5%;
  width: 112%;
  /* background-color: red; */
}

div.change_config_dates > a {
  text-decoration: none;
  margin-left: 3%;
}

@media screen and (min-width: 600px) {
  .cards_desk {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    /* border: 4px solid red; */
    /* background-color: blue; */
    width: 85%;
    max-width: 680px;
    margin-bottom: 5%;

  }

  .card_info_usuer {
    display: flex;
    flex-flow: column;
    /*  background-color: green; */
    max-width: 380px;
  }

  .cards_movil {
    display: none;
  }

  .card_picture_info {
  }
}
