<div class="container dark-background">
  <div class="wellcome_message">
    <h1 class="white-text  text-light-xl">
      Bienvenid<span class="green-text">@</span> Manolo25
    </h1>
  </div>

  <div class="cards_desk">
    <mat-card class="card_picture btn-green">
      <img src="../../../assets/images/img_user.jpg" width="200px" alt="" />
    </mat-card>
    <mat-card class="card_info_usuer btn-green">
      <mat-card-content class="white-text text-light-s">Usuario: Manolo25</mat-card-content>
      <mat-card-content class="white-text text-light-s"
        >Nombre: Manolo Ortiz López</mat-card-content
      >
      <mat-card-content class="white-text text-light-s"
        >Email: Manolo25@gmail.com</mat-card-content
      >
      <mat-card-content class="white-text text-light-s"
        >Teléfono: 666 666 666</mat-card-content
      >
      <mat-card-content class="white-text text-light-s"
        >Fecha de nacimiento: 10/05/1998</mat-card-content
      >
      <mat-card-content class="white-text text-light-s"
        >Dirección física: Calle de la piruleta nº 42</mat-card-content
      >
      <mat-card-content class="white-text text-light-s"
        >Dirección fiscal: Papelillos S.A</mat-card-content
      >

      <div class="links_config">
        <div class="change_config_dates">
          <img
            src="../../../assets/images/engranaje.png"
            width="32px"
            alt="conf"
          />
          <a href="" class="white-text text-light-s">Cambiar datos de la configuración</a>
        </div>

        <div class="change_config_dates">
          <img
            src="../../../assets/images/engranaje.png"
            width="32px"
            alt="conf"
          />
          <a href="" class="white-text text-light-s">Cambiar contraseña</a>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="cards_movil">
    <mat-card class="card_picture_info btn-green">
      <img src="../../../assets/images/img_user.jpg" class="img_user" width="300px" alt="img_user" />
      <mat-card-content class="white-text white-text text-light-s">Usuario: Manolo25</mat-card-content>
      <mat-card-content class="white-text text-light-s"
        >Nombre: Manolo Ortiz López</mat-card-content
      >
      <mat-card-content class="white-text text-light-s"
        >Email: Manolo25@gmail.com</mat-card-content
      >
      <mat-card-content class="white-text text-light-s"
        >Teléfono: 666 666 666</mat-card-content
      >
      <mat-card-content class="white-text text-light-s"
        >Fecha de nacimiento: 10/05/1998</mat-card-content
      >
      <mat-card-content class="white-text text-light-s"
        >Dirección física: Calle de la piruleta nº 42</mat-card-content
      >
      <mat-card-content class="white-text text-light-s"
        >Dirección fiscal: Papelillos S.A</mat-card-content
      >

      <div class="links_config">
        <div class="change_config_dates">
          <img
            src="../../../assets/images/engranaje.png"
            width="32px"
            alt="conf"
          />
          <a href="" class="white-text text-light-s ">Cambiar datos de la configuración</a>
        </div>
  
        <div class="change_config_dates">
          <img
            src="../../../assets/images/engranaje.png"
            width="32px"
            alt="conf"
          />
          <a href="" class="white-text text-light-s ">Cambiar contraseña</a>
        </div>
    </div>
    </mat-card>

</div>
