<mat-card class="notif-card" [ngClass]="{ read: mailboxMessage.read }">
  <mat-card-title>
    <a
      mat-raised-button
      [routerLink]="['#']"
      target="_blank"
      class="white-text title-m card__title"
      >{{ mailboxMessage.from }}</a
    >
    <span class="text-regular-s matcard-title__sentmessage white-text">
      te envió un mensaje:</span
    >
  </mat-card-title>

  <mat-card-content class="text-regular-m matcard-content__message">
    <div>
      <span class="white-text">{{ mailboxMessage.content }}</span
      ><br />
      <span class="text-regular-xs green-text">{{ mailboxMessage.date }}</span>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button (click)="deleteMailBoxMessage(mailboxMessage.id)" class="btn-green title-xs white-text btn-delete">
      Eliminar
    </button>
    <button *ngIf="!mailboxMessage.read" class="btn-green title-xs white-text btn-read"
     (click)="markMailAsRead(mailboxMessage.id)">
      Marcar como leido
    </button>
  </mat-card-actions>
</mat-card>
<br />
