$background-color_grey: #536162;

.form-container{
    background-color: $background-color_grey;
    width: 100%;
    min-height: 400px;
}

mat-form-field{
    width: 100%;
}

.form-to{
    width: 90%;
    display: flex;
    align-items: center;
}

mat-label{
   min-width: 130px;
}

.mat-input-element-to{
    font-family: "Minecraftia-Regular.ttf" !important;
    background-color: #3d4445b1;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
}

