<form class="form-container" [formGroup]="messageForm">
  <mat-form-field appearance="fill">
    <mat-label class="text-regular-s">Enviar mensaje a:</mat-label>
    <input
      class="title-m message-mailto"
      type="text"
      matInput
      [matAutocomplete]="auto" formControlName="mail_to" name="mail_to" required
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option
        *ngFor="let usersOption of filteredUsersOptions | async"
        [value]="usersOption"
      >
        {{ usersOption.userUsername }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label class="text-regular-s">Tu mensaje:</mat-label>
    <textarea
      class="message-text"
      #message
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="20"
      maxlength="300" formControlName="message_text" name="message_text" required
    ></textarea>
    <mat-hint align="end" class="text-regular-xs"
      >{{ message.value.length }} / 300</mat-hint
    >
  </mat-form-field>

  <button type="submit" class="btn-green title-xs white-text"  (click)="sendMessage()">Enviar</button>
</form>
