<div class="reviews-page">
  <p class="title-l">Reseñas</p>

  <div class="reviews">
    <app-review-card *ngFor="let completeReview of completeReviews" [completeReview]="completeReview" class="review-card"></app-review-card>
  </div>

  <div *ngIf="completeReviews.length<1" class="text-regular-s no-reviews"> No hay reseñas aún para este juego</div>

  <button *ngIf="userType!='2'" class="btn-green title-xs white-text review__btn" (click)="openAddAReviewDialog()">Añadir una reseña</button>
</div>
