
.mat-card{
    height: 100%;
    padding: 5px;

    & .mat-card-header{
        height: 3rem;
    
        & .mat-card-avatar{
            border-radius: 50%;
        }
    
        & .mat-card-title{
            margin-top: 10px;
        }
    }
}

