<mat-card class="dark-gray-background">
  <mat-card-header>

      <img
      mat-card-avatar
        [src]="completeReview.picture"
        [alt]="'Profile picture of '+completeReview.username"
      />

    <mat-card-title class="white-text title-xs">{{completeReview.username}}</mat-card-title>
    <i *ngIf="userType=='2'" class="fa-regular fa-solid fa-xmark" (click)="deleteReview(completeReview.review_id)" ></i>
  </mat-card-header>
  <mat-card-content>
    <p class="white-text review-content">
      {{completeReview.content}}
    </p>
  </mat-card-content>

</mat-card>
