<div class="private-header">
  <a [routerLink]="['/shopping-cart']">
    <i [matBadge]="ShoppingCartItemsQuantity" matBadgeSize="large" class="material-symbols-outlined white-text">shopping_cart</i>
  </a>

  <a [routerLink]="['/notification']">
    <i [matBadge]="mailboxMessages.length" matBadgeSize="large" class="material-symbols-outlined white-text">mail</i>
  </a>

  <button *ngIf="profileButtonToggle == 'on'" mat-button class="title-xs white-text profile-btn"
    [matMenuTriggerFor]="profileMenu" [ngStyle]="{'background-image': 'url(' + user.picture + ')'}">
    <mat-menu #profileMenu="matMenu" xPosition="before" class="profile-menu">
      <a [routerLink]="['/profile']" class="white-text title-xs profile-menu_option">Mi perfil</a>
      <a [routerLink]="['/user-product']" class="white-text title-xs profile-menu_option">Mis juegos</a>
      <a (click)="logOut()" class="white-text title-xs profile-menu_option">Cerrar sesión</a>
    </mat-menu>
  </button>

  <button *ngIf="profileButtonToggle == 'off'" mat-button class="title-xs white-text profile-btn"
    [ngStyle]="{'background-image': 'url(' + user.picture + ')'}" >
  </button>
</div>