$color_green: #57e309;
$font-title: "Minecraftia-Regular.ttf";


.user-management-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 25px;
}
.user-management-title{
    padding: 20px 0 10px 0;
    font-family: $font-title;
    margin: 0;
}

.user-management-table-container{
    width: 100%;
    max-width: 1200px;
}

.mat-table {
    width: 100%; 
}

.table-paginator-container{
    width: 98%;
    margin: 25px;
}

.admins-box, .users-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-cell{
    padding: 0 5px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 10px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 10px;
}

