<div class="user-management__header">
  <app-common-header></app-common-header>
</div>

<div class="user-management-container dark-background" *ngIf="user_id !== 0">
  <h1 class="user-management-title title-l white-text">Gestion de usuarios</h1>

  <div class="user-management-table-container dark-gray-background">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Usuarios">
        <app-user-management-table [userData]="filteredUsers" (banUsersToggle)="changeUserStatus($event)">
        </app-user-management-table>
      </mat-tab>
      <mat-tab label="Admin">
        <app-user-management-table [userData]="filteredAdmin" (banUsersToggle)="changeUserStatus($event)">
        </app-user-management-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div *ngIf="user_id == 0">
  <app-not-permission></app-not-permission>
</div>

<app-footer></app-footer>