<mat-card class="notif-card" [ngClass]="{ read: notification.read }">
  <mat-card-title>
    <a
      mat-raised-button
      href="#"
      target="_blank"
      class="white-text title-m card__title"
      >{{ notification.from }}</a
    >
  </mat-card-title>

  <mat-card-content class="text-regular-m matcard-content__message white-text">
    {{ notification.content }} {{ notification.where }}:
    <span
      mat-raised-button
      class="green-text title-xs card__title"
      >{{ notification.link }}</span>
  </mat-card-content>

  <mat-card-actions>
    <button
      (click)="deleteNotification(notification.id)"
      class="btn-green text-regular-s white-text btn-delete"
    >
      Eliminar
    </button>
    <button
      *ngIf="!notification.read"
      (click)="markNotificationAsRead(notification.id)"
      class="btn-green text-regular-s white-text btn-read"
    >
      Marcar como leido
    </button>
  </mat-card-actions>
</mat-card>
<br />
