<div class="header-container dark-gray-background">
  <mat-toolbar class="dark-gray-background">
  <a [routerLink]="['/']" class="navbar-logo logo-s green-text">PICKAGAME</a>

  <span
    *ngIf="burgerMenuToggle == 'off'; else burgerMenu"
    class="navbar-elements"
  >
    <app-header-content class="header-content"></app-header-content>
  </span>
  <ng-template #burgerMenu>
    <span class="menuBurger-container">
      <i
        *ngIf="burgerMenuToggle == 'on'"
        class="material-symbols-outlined white-text burgerMenu-icon"
        [matMenuTriggerFor]="burgerMenu"
        >menu
        <mat-menu #burgerMenu="matMenu" xPosition="before">
          <app-header-content class="header-content"></app-header-content>
        </mat-menu>
      </i>
    </span>
  </ng-template>
</mat-toolbar>
</div>


