<div class="menu-desktop">
  <div>
    <a href="#"
      ><img src="../../../../assets/images/Logo.png" class="logo" alt="logo"
    /></a>
    <a routerLink="/" class="white-text text-light-m">Inicio</a>
    <a routerLink="/" class="white-text text-light-m">Mis productos</a>
  </div>
  <div class="search-bar">
    <app-search-bar></app-search-bar>
  </div>
  <div class="notifications">
    <button>
      <a routerLink="/">
        <img
          src="../../../../../assets/images/notificaciones.png"
          width="28px"
          alt="notifications"
        />
      </a>
    </button>
  </div>
</div>
