<div class="menu-desktop grey-background">
  <div>
    <a href="#">
      <p class="logoPick logo-s green-text">PICK<span class="logo-s">A</span>GAME</p>
    </a>
    <a routerLink="/" class="white-text title-xs">Inicio</a>
    <a routerLink="/" class="white-text title-xs">Mis productos</a>
  </div>
  <div class="search-bar">
    <app-search-bar></app-search-bar>
  </div>
  <div class="notifications">
    <button class="grey-background">
      <a routerLink="/">
        <img
          src="../../../../../assets/images/campana.png"
          width="28px"
          alt="notifications"
        />
      </a>
    </button>
  </div>
</div>
