.menu-desktop {
  width: 100%;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  /* background-color: red; */
}

div.menu-desktop > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: 1px solid black; */
}

div > div:nth-child(1) {
  /* background-color: green; */
  width: 20%;
}

div > div:nth-child(1) > a:nth-child(1) {
  /* background-color: green; */
  display: flex;
  margin-right: 8%;
}

div > div:nth-child(1) > a {
  /* color: white; */
  text-decoration: none;
  cursor: pointer;
}

 p.logoPick{
  /* background-color: blue; */
margin: auto;
}

/* img.logo {
  width: 58px;
} */

div.menu-desktop > div:nth-child(1) > a:nth-child(2),
div.menu-desktop > div:nth-child(1) > a:nth-child(3) {
  display: none;
}

.search-bar {
  /*background-color: orange; */
  margin-left: 5%;
}

.notifications button {
  /* background-color: grey; */
  border: 0;
  cursor: pointer;

}

@media screen and (min-width: 600px) {
  div.menu-desktop {
    width: 95%;
    /* background-color: yellow; */
    margin-right: 1rem;
  }

  div > div:nth-child(1) {
    /* background-color: blue; */
    width: 28%;
    margin-right: 8%;
  }

  div.menu-desktop > div:nth-child(1) > a:nth-child(2),
  div.menu-desktop > div:nth-child(1) > a:nth-child(3) {
    display: flex;
    margin-right: 8%;
    align-items: center;
    height: 100%;
    padding-top: 7px;
    /* background-color: green; */
  }

  div.menu-hamburguer > button,
  ::ng-deep .menu_burguer_desp {
    display: none;
  }

  /* fin media query */
}
/* Fin del Header */
/* -------------------------------------------------------------------- */
