<app-private-header></app-private-header>
<div class="container dark-background">
  <div class="wellcome_message">
    <h1 class="white-text title-xl">
      Bienvenid<span class="green-text">@</span> Manolo25
    </h1>
  </div>

  <div class="cards_desk">
    <mat-card class="card_picture btn-green">
      <img
        src="{{ users[0].Imagen }}"
        class="img_user"
        width="300px"
        alt="img_user"
      />
    </mat-card>
    <mat-card class="card_info_usuer btn-green">
      <mat-card-content class="white-text white-text title-xs"
        >Usuario:&nbsp; {{ users[0].Usuario }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Nombre:&nbsp; {{ users[0].Nombre }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Email:&nbsp; {{ users[0].Email }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Teléfono:&nbsp; {{ users[0].Telefono }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Fecha de nacimiento:&nbsp;
        {{ users[0].Fecha_de_nacimiento }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Dirección física:&nbsp;
        {{ users[0].Direccion_fisica }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Dirección fiscal:&nbsp;
        {{ users[0].Direccion_fiscal }}</mat-card-content
      >

      <div class="links_config">
        <div class="change_config_dates">
          <img
            src="../../../assets/images/engranaje.png"
            width="32px"
            alt="conf"
          />
          <a href="" class="white-text title-xs"
            >Cambiar datos de la configuración</a
          >
        </div>

        <div class="change_config_dates">
          <img
            src="../../../assets/images/engranaje.png"
            width="32px"
            alt="conf"
          />
          <a href="" class="white-text title-xs">Cambiar contraseña</a>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="cards_movil">
    <mat-card class="card_picture_info btn-green">
      <img
        src="{{ users[0].Imagen }}"
        class="img_user"
        width="300px"
        alt="img_user"
      />
      <mat-card-content class="white-text white-text title-xs"
        >Usuario:&nbsp; {{ users[0].Usuario }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Nombre:&nbsp; {{ users[0].Nombre }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Email:&nbsp; {{ users[0].Email }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Teléfono:&nbsp; {{ users[0].Telefono }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Fecha de nacimiento:&nbsp;
        {{ users[0].Fecha_de_nacimiento }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Dirección física:&nbsp;
        {{ users[0].Direccion_fisica }}</mat-card-content
      >
      <mat-card-content class="white-text title-xs"
        >Dirección fiscal:&nbsp;
        {{ users[0].Direccion_fiscal }}</mat-card-content
      >

      <div class="links_config">
        <div class="change_config_dates">
          <img
            src="../../../assets/images/engranaje.png"
            width="32px"
            alt="conf"
          />
          <a href="" class="white-text title-xs"
            >Cambiar datos de la configuración</a
          >
        </div>

        <div class="change_config_dates">
          <img
            src="../../../assets/images/engranaje.png"
            width="32px"
            alt="conf"
          />
          <a href="" class="white-text title-xs">Cambiar contraseña</a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
