<div class="distribution__modal__change">
  <mat-dialog-actions>
    <i
      class="fa-regular fa-solid fa-xmark close__icon"
      [mat-dialog-close]="true"
    ></i>
  </mat-dialog-actions>

  <div>
    <p class="title-s white-text title__modal">Edita tu información personal</p>
  </div>

  <form
    class="form-horizontal"
    id="changeUserInfoForm"
    autocomplete="off"
    [formGroup]="userDataChangeForm"
    (ngSubmit)="userDataChange()"
  >
    <div class="form-group">
      <label for="exampleInputUsername"></label>
      <input
        type="text"
        class="title-xs form-input"
        id="exampleInputUsername"
        placeholder="Nombre de usuario"
        formControlName="username"
        required
      />
    </div>

    <div class="form-group">
      <label for="exampleInputName"></label>
      <input
        type="text"
        class="form-input title-xs"
        id="exampleInputName"
        placeholder="Nombre completo"
        formControlName="fullname"
        required
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail"></label>
      <input
        type="email"
        class="form-input title-xs"
        id="exampleEmail"
        placeholder="Email"
        formControlName="email"
        required
      />
    </div>

    <div class="form-group">
      <label for="exampleInputPhone"></label>
      <input
        type="tel"
        class="form-input title-xs"
        id="exampleInputPhone"
        placeholder="Teléfono"
        formControlName="phone"
      />
    </div>

    <div class="form-group" class="input__birthday">
      <label for="exampleInputBirthday"></label>
      <input
        type="date"
        class="form-input title-xs"
        id="exampleInputBirthday"
        placeholder="Fecha de nacimiento"
        formControlName="birthdate"
        required
      />
    </div>

    <div class="form-group">
      <button type="submit" class="btn-green white-text title-xs btn-register">
        Guardar cambios
      </button>
    </div>
  </form>
</div>
