<div class="dark-background distribution__dashboard">
    <button mat-button type="button" (click)="previousPage()" *ngIf="showPrevious" class="btn__page__pass">
        <span class="fa fa-chevron-left"></span>
    </button>

    <div class="distribution__product">
        <div *ngFor="let product of pages[selectedPage]">
            <app-card-product [product]="product"></app-card-product>
        </div>
    </div>

    <button mat-button type="button" (click)="nextPage()" *ngIf="showNext" class="btn__page__pass">
        <span class="fa fa-chevron-right"></span>
    </button>
</div>