<div class="grey-background distribution__footer__elements">
    <div>
        <mat-list class="distribution__footer__list">
            <mat-list-item class="text-regular-s white-text">Aviso legal</mat-list-item>
            <mat-list-item class="text-regular-s white-text">Política de Cookies</mat-list-item>
            <mat-list-item class="text-regular-s white-text">Política de privaciad</mat-list-item>
            <mat-list-item class="text-regular-s white-text">Condiciones de uso</mat-list-item>
            <mat-list-item class="text-regular-s white-text">Contáctanos</mat-list-item>
        </mat-list>
    </div>

    <mat-list class="distribution__footer__rrss">
        <div class="distribution__footer__icon">
            <mat-list-item>
                <a href="https://www.instagram.com/">
                    <span class="fa-brands fa-instagram icon__color"></span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a href="https://es-es.facebook.com/">
                    <span class="fa-brands fa-facebook icon__color"></span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a href="https://web.whatsapp.com/">
                    <span class="fa-brands fa-whatsapp icon__color"></span>
                </a>
            </mat-list-item>
        </div>
    </mat-list>

    <div class="distribution__footer__rights">
        <p class="white-text text-regular-s">Av. La Comarca 245, 29055 Málaga - Málaga</p>
        <p class="white-text text-regular-s">© 2023 - Todos los derechos reservados</p>
    </div>
</div>