$background-color_grey: #536162;
$border-color_green: #57E309;

mat-card{
    background-color: $background-color_grey;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
}

.read{
    background-color: aqua;
}

button{
    margin-right: 20px;
    width: 150px;
}

/* PReguntar andrea */
.card__title:hover{
    filter: brightness(90%);
}


@media (max-width: 600px) {
    button{
        margin-right: 0px;
        width: 100px;
    }
  }
