.container {
  display: grid;
  grid-template-rows: auto auto auto;
  color: #fff;
}

header,
footer {
  border: 1px solid red;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem 0.8rem;
}

.producto {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__imagenes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__imagen-principal {
    width: 100%;
    border-radius: 0.3rem;
  }

  &__contenedor-imagenes-secundarias {
    display: flex;
    justify-content: space-between;
  }

  &__imagen-secundaria {
    width: 30%;
    border-radius: 0.3rem;
  }

  &__detalles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__nombre {
    font-size: 2em;
    margin: 0;
  }

  &__descripcion {
    text-align: justify;
  }

  &__precio {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.resenias {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__resenia {
    background-color: #536162;
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  &__cabecera {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  &__contenedor-logo-usuario {
    max-width: 78.71px;
  }

  &__logo-usuario {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 100%;
  }

  &__contenedor-imagen-producto {
    width: 55%;
    max-width: 144.31px;
  }

  &__imagen-producto {
    border-radius: 0.3rem;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

@media (min-width: 500px) {
  .resenias {
    align-items: center;
  }

  .resenias__resenia {
    flex-direction: row;
    max-width: 528px;
  }

  .resenias__contenido {
    width: 100%;
  }

  .resenias__cabecera {
    width: 100%;
    flex-direction: row;
    gap: 0.5rem;
  }

  .resenias__imagen {
    width: 41%;
  }
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
  }

  .producto {
    flex-direction: row;
    max-width: 1232.4px;
  }

  .producto__imagenes {
    width: 45%;
  }

  .producto__detalles {
    width: 55%;
  }

  .resenias {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1142.4px;
  }

  .resenias__resenia {
    width: 44%;
  }
}
