<div class="container">
  <header>HEADER</header>
  <main class="main">
    <div class="producto">
      <div class="producto__imagenes">
        <img
          src="./assets/gato.jpg"
          alt="gato"
          class="producto__imagen-principal"
        />
        <div class="producto__contenedor-imagenes-secundarias">
          <img
            src="./assets/gato.jpg"
            alt=""
            class="producto__imagen-secundaria"
          />
          <img
            src="./assets/gato.jpg"
            alt=""
            class="producto__imagen-secundaria"
          />
          <img
            src="./assets/gato.jpg"
            alt=""
            class="producto__imagen-secundaria"
          />
        </div>
      </div>
      <div class="producto__detalles">
        <h2 class="producto__nombre">Nombre del Producto</h2>
        <p class="producto__descripcion">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quasi
          iure aperiam, minima neque maiores error tenetur recusandae
          exercitationem delectus impedit. Amet laudantium sapiente beatae ipsa
          ullam. Nemo, distinctio non. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Impedit maxime, temporibus perspiciatis, provident
          excepturi officia accusantium autem blanditiis, voluptate voluptatum
          quos atque corrupti
        </p>
        <span class="producto__precio">$ 54.00</span>
      </div>
    </div>
    <div class="resenias">
      <div class="resenias__resenia">
        <div class="resenias__contenido">
          <div class="resenias__cabecera">
            <div class="resenias__contenedor-logo-usuario">
              <img
                src="./assets/gato.jpg"
                alt=""
                class="resenias__logo-usuario"
              />
            </div>
            <p>Fecha de reseña</p>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
            similique, aut inventore tempore quisquam distinctio vel dolorum
            harum recusandae unde nobis ullam, asperiores dolor corrupti
            quibusdam sapiente non maxime aperiam?
          </p>
        </div>
        <div class="resenias__contenedor-imagen-producto">
          <img
            src="./assets/gato.jpg"
            alt=""
            class="resenias__imagen-producto"
          />
        </div>
      </div>
      <div class="resenias__resenia">
        <div class="resenias__contenido">
          <div class="resenias__cabecera">
            <div class="resenias__contenedor-logo-usuario">
              <img
                src="./assets/gato.jpg"
                alt=""
                class="resenias__logo-usuario"
              />
            </div>
            <p>Fecha de reseña</p>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
            similique, aut inventore tempore quisquam distinctio vel dolorum
            harum recusandae unde nobis ullam, asperiores dolor corrupti
            quibusdam sapiente non maxime aperiam?
          </p>
        </div>
        <div class="resenias__contenedor-imagen-producto">
          <img
            src="./assets/gato.jpg"
            alt=""
            class="resenias__imagen-producto"
          />
        </div>
      </div>
    </div>
  </main>
  <footer>FOOTER</footer>
</div>
