<div class="container dark-background">
    <div class="wellcome_message text-light-m">
        <h1 class="white-text">Bienvenid<span class="green-text">@</span> Manolo25</h1>
    </div>

    <div class="cards_desk">
        <mat-card class="card_picture btn-green">
            <img src="../../../assets/images/img_user.jpg" width="200px" alt="">
        </mat-card>
        <mat-card class="card_info_usuer btn-green">
            <mat-card-content class="white-text">Usuario: Manolo25</mat-card-content>
            <mat-card-content class="white-text">Nombre: Manolo Ortiz López</mat-card-content>
            <mat-card-content class="white-text">Email: Manolo25@gmail.com</mat-card-content>
            <mat-card-content class="white-text">Teléfono: 666 666 666</mat-card-content>
            <mat-card-content class="white-text">Fecha de nacimiento: 10/05/1998</mat-card-content>
            <mat-card-content class="white-text">Dirección física: Calle de la piruleta nº 42</mat-card-content>
            <mat-card-content class="white-text">Dirección fiscal: Papelillos S.A</mat-card-content>
        </mat-card>
    </div>

    <div class="cards_movil">
        <mat-card class="card_picture_info btn-green">
            <img src="../../../assets/images/img_user.jpg" width="200px" alt="">
            <mat-card-content class="white-text">Usuario: Manolo25</mat-card-content>
            <mat-card-content class="white-text">Nombre: Manolo Ortiz López</mat-card-content>
            <mat-card-content class="white-text">Email: Manolo25@gmail.com</mat-card-content>
            <mat-card-content class="white-text">Teléfono: 666 666 666</mat-card-content>
            <mat-card-content class="white-text">Fecha de nacimiento: 10/05/1998</mat-card-content>
            <mat-card-content class="white-text">Dirección física: Calle de la piruleta nº 42</mat-card-content>
            <mat-card-content class="white-text">Dirección fiscal: Papelillos S.A</mat-card-content>
        </mat-card>
    </div>
</div>