<div class="navbar-content">
    <a routerLink="/" class="white-text title-xs">Inicio</a>
    <a routerLink="/" class="white-text title-xs">Mis productos</a>
    <mat-divider></mat-divider>
    <span class="variable-navbar">
      <app-public-header *ngIf="!userIsLogged"></app-public-header>
      <app-private-header *ngIf="userIsLogged"></app-private-header>
    </span>
    <mat-divider class="logout-divider"></mat-divider>
    <a routerLink="/" class="white-text title-xs" *ngIf="logOutToggle == 'on'">Cerrar sesión</a>
</div>