<div class="distribution__modal__change">
  <mat-dialog-actions>
    <i
      class="fa-regular fa-solid fa-xmark close__icon"
      [mat-dialog-close]="true"
    ></i>
  </mat-dialog-actions>

  <div>
    <p class="title-s white-text">Cambia tu contraseña</p>
  </div>

  <form
    class="form-horizontal"
    id="cambioPasswordForm"
    autocomplete="off"
    [formGroup]="changePasswordForm"
    (ngSubmit)="changePassword()"
  >
    <div class="form-group">
      <input
        type="password"
        class="title-xs form-input"
        placeholder="Contraseña Actual"
        formControlName="currentPassword"
        required
      />
      <small
        *ngIf="submitted && formGroup.currentPassword.errors"
        [ngClass]="{
          error: formGroup.currentPassword.errors.required,
          noError: !formGroup.currentPassword.errors.required
        }"
      >
        Campo requerido
      </small>
      <small
        *ngIf="submitted"
        [ngClass]="{
          error: !checkCurrentPassword(),
          noError: checkCurrentPassword()
        }"
        >Indica tu contraseña actual</small
      >
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-input title-xs"
        placeholder="Nueva contraseña"
        formControlName="newPassword"
        required
      />
      <small
        *ngIf="submitted && formGroup.newPassword.errors"
        [ngClass]="{
          error: formGroup.newPassword.errors.required,
          noError: !formGroup.newPassword.errors.required
        }"
      >
        Campo requerido
      </small>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-input title-xs"
        placeholder="Repetir Nueva Contraseña"
        formControlName="newPasswordRepeat"
        required
      />
      <small
        *ngIf="submitted && formGroup.newPasswordRepeat.errors"
        [ngClass]="{
          error: formGroup.newPasswordRepeat.errors.required,
          noError: !formGroup.newPasswordRepeat.errors.required
        }"
      >
        Campo requerido
      </small>
      <small
        *ngIf="submitted && changePasswordForm.errors?.notSame"
        [ngClass]="{
          error: changePasswordForm.errors?.notSame,
          noError: !changePasswordForm.errors?.notSame
        }"
      >
        Las contraseñas no coinciden
      </small>
    </div>

    <div class="form-group form-change-password-button">
      <button type="submit" class="btn-green white-text title-xs btn-register">
        Cambiar contraseña
      </button>
    </div>
  </form>
</div>
