.distribution__modal__change {
  width: 280px;
}

.form-horizontal {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-input {
  width: 100%;
}

.form-group {
  width: 100%;
}

.form-change-password-button {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  display: block;
}

.noError {
  display: none;
}
