.distribution__password__change {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%px;
    height: 50%x;
}

.form-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
}

.form-input {
    width: 100%;
}

.icon__color {
    font-size: large;
}

.btn__close__dialog {
    background-color: transparent;
    border-color: transparent;
}