$color_white: #f9f9f9;
$color_green: #57e309;
$font-light: "Rokkit-Light.ttf";
$font-regular: "Rokkit-Regular.ttf";
$font-medium: "Rokkit-Medium.ttf";
$font-title: "Minecraftia-Regular.ttf";
$font-logo: "04B_30__.TTF";
$background-color_dark:#0f130c;
$background-color_transparent: transparent;
$background-color_grey: #536162;
$background-color_dark-grey: #292F33;
$border-color_green: #57E309;
$border-color_transparent: transparent;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
	font-family: "Rokkit-Light.ttf";
	src: url(./assets/fonts/Rokkitt-Light.ttf);
}

@font-face {
	font-family: "Rokkit-Medium.ttf";
	src: url(./assets/fonts/Rokkitt-Medium.ttf);
}

@font-face {
	font-family: "Rokkit-Regular.ttf";
	src: url(./assets/fonts/Rokkitt-Regular.ttf);
}

@font-face {
	font-family: "Minecraftia-Regular.ttf";
	src: url(./assets/fonts/Minecraftia-Regular.ttf);
}

@font-face {
	font-family: "04B_30__.TTF";
	src: url(./assets/fonts/04B_30__.TTF);
}

@keyframes bounce {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(0, 5px, 0);
	}
}

.dark-background {
	background-color: $background-color_dark;
}

.dark-gray-background {
	background-color: $background-color_dark-grey;
}

.grey-background {
	background-color: $background-color_grey;
}

.btn-green {
	border: 3px dashed $border-color_green !important;
	background-color: $background-color_transparent;
	padding-top: 8px !important;
	display: flex;
	align-items: start;

	&:hover,
	&:focus{
		box-shadow: 0 0 5px #57e309;
	}
}

.icon__color {
	color: $color_green;
	font-size: xx-large;
}

.btn-grey {
	background-color: $background-color_grey;
	border-color: $border-color_transparent;

	&:hover,
	:focus,
	:active {
		box-shadow: 5px 10px 20px #536162;
		background-color: $background-color_transparent;
	}
}

a {
	text-decoration: none;
}

.star__points {
	color: $color_green;
}

.white-text {
	color: $color_white;
}

.green-text {
	color: $color_green;
}

.text-light-xl {
	font-family: $font-light;
	font-size: 46px;
}

.text-light-l {
	font-family: $font-light;
	font-size: 32px;
}

.text-light-m {
	font-family: $font-light;
	font-size: 24px;
}

.text-light-s {
	font-family: $font-light;
	font-size: 16px;
}

.text-light-xs {
	font-family: $font-light;
	font-size: 12px;
}

.text-regular-xl {
	font-family: $font-regular;
	font-size: 46px;
}

.text-regular-l {
	font-family: $font-regular;
	font-size: 32px;
}

.text-regular-m {
	font-family: $font-regular;
	font-size: 24px;
}

.text-regular-s {
	font-family: $font-regular;
	font-size: 16px;
}

.text-regular-xs {
	font-family: $font-regular;
	font-size: 12px;
}

.text-medium-xl {
	font-family: $font-medium;
	font-size: 46px;
}

.text-medium-l {
	font-family: $font-medium;
	font-size: 32px;
}

.text-medium-m {
	font-family: $font-medium;
	font-size: 24px;
}

.text-medium-s {
	font-family: $font-medium;
	font-size: 16px;
}

.text-medium-xs {
	font-family: $font-medium;
	font-size: 12px;
}

.title-l {
	font-family: $font-title;
	font-size: 32px;
}

.title-m {
	font-family: $font-title;
	font-size: 24px;
}

.title-s {
	font-family: $font-title;
	font-size: 16px;
}

.title-xs {
	font-family: $font-title;
	font-size: 12px;
}

.title-xxs {
	font-family: $font-title;
	font-size: 10px;
}

.logo-l {
	font-family: $font-logo;
	font-size: 36px;
}

.logo-m {
	font-family: $font-logo;
	font-size: 24px;
}

.logo-s {
	font-family: $font-logo;
	font-size: 16px;
}

.dropdown-toggle {
	&::after {
		display: none;
	}
}

.dropdown-icon {
	color: $color_green;
	animation: bounce 0.6s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.dropdown-menu {
	background-color: $background-color_transparent;
	border-color: $border-color_green;
	border-style: dashed;
}

.card-body {
	width: 75%;
}

.products__distribution {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	justify-items: center;
}

.pagination {
	justify-content: center;
}

.page-item {
	background-color: $background-color_transparent;
	border-color: $border-color_green;
	border-style: dashed;
	border-width: 2px;
}

.page-link {
	background-color: $background-color_transparent;
	color: $color_green;
	border: transparent;
	padding-top: 8px;
}

.filter-option {
	color: $color_green;
	background-color: $background-color_dark;
	border-color: $border-color_transparent;
}

/* tablet */
@media (max-width: 768px) {

}

