$color_green: #57e309;
$font-title: "Minecraftia-Regular.ttf";

/* tarjeta */
.mat-tab-group{
    border-radius: 25px;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    padding-bottom: 20px;
}

.notif-title{
    padding: 20px 0 10px 0;
    font-family: $font-title;
    margin: 0;
}

::ng-deep .mat-tab-label{
    color: #fff;
    font-family: "Rokkit-Regular.ttf" !important;
}