<div class="notification__header">
  <app-common-header></app-common-header>
</div>
<div class="notif-container dark-background white-text-notif">
  <h1 class="notif-title title-l white-text">Notificaciones</h1>

  <mat-tab-group class="dark-gray-background">
    <mat-tab label="Notificaciones" >

      <div *ngIf="notifications.length>0; then FoundBlock; else notFoundBlock"></div>

      <ng-template #FoundBlock>
        <div #FoundBlock *ngFor="let notification of notifications">
          <app-notifications-panel
            [notification]="notification"
            (markAsRead)="changeReadStatus($event)" (deleteNotif)="deleteNotifi($event)"
          ></app-notifications-panel>
        </div>
      </ng-template>

      <ng-template #notFoundBlock>
        <app-not-found #notFoundBlock></app-not-found>
      </ng-template>

    </mat-tab>

    <mat-tab label="Buzon de entrada" class="white-text-notif">

        <div *ngIf="mailboxMessages.length>0; then FoundMeBlock; else notFoundMeBlock"></div>

        <ng-template #FoundMeBlock>
            <div *ngFor="let mailboxMessage of mailboxMessages">
                <app-mail-box-panel
                  [mailboxMessage]="mailboxMessage"
                  (markMailsAsRead)="changeMailsReadStatus($event)" (deleteMessage)="deleteMBMessage($event)"
                ></app-mail-box-panel>
              </div>
        </ng-template>

        <ng-template #notFoundMeBlock>
            <app-not-found #notFoundBlock></app-not-found>
        </ng-template>
    </mat-tab>
    <mat-tab label="Enviar nuevo mensaje" class="white-text-notif text-regular-xs">
      <app-send-mail-panel></app-send-mail-panel>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="notification__footer">
  <app-footer></app-footer>
</div>
