<div class="notif-container dark-background white-text">
    <h1 class="notif-title title-l">Notificaciones</h1>

    <mat-tab-group class="dark-gray-background">
        <mat-tab label="Notificaciones" class="white-text">
            <div *ngFor="let notification of notifications">
                <app-notifications-panel [notification] = "notification" (markAsRead)="changeReadStatus($event)"></app-notifications-panel>
            </div>
        </mat-tab>

        <mat-tab label="Buzon de entrada" class="white-text">
            <div *ngFor="let mailboxMessage of mailboxMessages">
                <app-mail-box-panel [mailboxMessage] = "mailboxMessage" (markMailsAsRead)="changeMailsReadStatus($event)"></app-mail-box-panel>

            </div>
            
        </mat-tab>
        <mat-tab label="Enviar nuevo mensaje" class="white-text text-regular-xs">
            <app-send-mail-panel></app-send-mail-panel>
        </mat-tab>
    </mat-tab-group>
</div>