$color_green: #57e309;
$font-title: "Minecraftia-Regular.ttf";

app-common-header{
    position: sticky;
    top: 0;
}

.notif-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 25px;
}

/* tarjeta */
.mat-tab-group{
    border-radius: 25px;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    padding-bottom: 20px;
}


.notif-title{
    padding: 20px 0 10px 0;
    font-family: $font-title;
    margin: 0;
}

::ng-deep .mat-tab-label{
    color: #fff;
    font-family: "Rokkit-Regular.ttf" !important;
}