.search,
button {
  background-color: white !important;
  border: none;
}

.form_search {
  display: flex;
  height: 2rem;
}

.search {
  width: 6rem;
}

@media screen and (min-width: 600px) {
  .search {
    width: 9rem;
  }
}
