<div class="notif-container dark-background white-text">
    <h1 class="notif-title title-l">Notificaciones</h1>

    <mat-tab-group class="dark-gray-background">
        <mat-tab label="Notificaciones" class="white-text">
            <div *ngFor="let notification of notifications">
                <app-notifications-panel [notification] = "notification"></app-notifications-panel>
            </div>
        </mat-tab>

        <mat-tab label="Mensajes" class="white-text">
            <app-messages-panel></app-messages-panel>
        </mat-tab>
    </mat-tab-group>
</div>