
.notif-container{
    background-color: bisque;
    width: 100%;
    height: 90vh; /* Modificar luego por 100% */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

mat-tab-group{
    border: 1px solid black;
    width: 90%;
    height: 100%;


}

